In [2]:
#import data preparation packages
import numpy as np
import matplotlib as plt
import scipy
import pandas as pd

In [3]:
rdf = pd.read_csv("C:\\Users\\adishree.b\\Desktop\\Adishree.B_python\\recommendation\\train_5UKooLv.csv")

In [4]:
rdf.columns

Index(['CustomerID', 'InvoiceNo', 'Quantity', 'InvoiceDate', 'UnitPrice',
       'Country', 'StockCode'],
      dtype='object')

In [5]:
rdf.head()

   CustomerID  InvoiceNo  Quantity    InvoiceDate  UnitPrice Country StockCode
0       27270      27270         7  01/12/10 8:26       2.55      PX   85123AY
1       27270      27270         7  01/12/10 8:26       3.39      PX    71053R
2       27270      27270         9  01/12/10 8:26       2.75      PX   84406BH
3       27270      27270         7  01/12/10 8:26       3.39      PX   84029GV
4       27270      27270         7  01/12/10 8:26       3.39      PX   84029EX

In [6]:
rdf.shape

(330575, 7)

In [7]:
rdf['CustomerID'].nunique()

972

In [8]:
rdf['CustomerID'].count()

330575

In [10]:
rdf['CustomerID'].count()/rdf['CustomerID'].nunique()

340.0977366255144

In [12]:
rdf.CustomerID.value_counts().head()

11790     1996
129969    1649
317277    1643
198198    1610
220878    1553
Name: CustomerID, dtype: int64