In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
ri = pd.read_csv('C:\\Users\\adishree.b\\Desktop\\Adishree.B_python\\better or worse\\police.csv')
ted = pd.read_csv('C:\\Users\\adishree.b\\Desktop\\Adishree.B_python\\better or worse\\ted.csv')

In [4]:
ri.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [5]:
ri.shape

(91741, 15)

In [6]:
ri.dtypes

stop_date              object
stop_time              object
county_name           float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

In [7]:
ri.isnull().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [8]:
ri.drop('county_name', axis = 'columns', inplace = True) 
#or ri.dropna(axis = 'columns', how = 'all').shape all 3 in one steps

In [9]:
ri.shape

(91741, 14)

In [10]:
ri.columns

Index(['stop_date', 'stop_time', 'driver_gender', 'driver_age_raw',
       'driver_age', 'driver_race', 'violation_raw', 'violation',
       'search_conducted', 'search_type', 'stop_outcome', 'is_arrested',
       'stop_duration', 'drugs_related_stop'],
      dtype='object')

In [11]:
# Do men or women speed more often?
# If the violation is speeding, which of the driver_gender (M or F) have more count?
ri.driver_gender.value_counts()

M    62895
F    23511
Name: driver_gender, dtype: int64

In [12]:
ri[ri.violation == 'Speeding'].driver_gender.value_counts()

M    32979
F    15482
Name: driver_gender, dtype: int64

In [13]:
ri[ri.violation == 'Speeding'].driver_gender.value_counts(normalize = True)

M    0.680527
F    0.319473
Name: driver_gender, dtype: float64

In [14]:
32979/(32979+15482)

0.6805266090258145

In [15]:
ri[ri.driver_gender == 'M'].violation.value_counts(normalize = True)

Speeding               0.524350
Moving violation       0.207012
Equipment              0.135671
Other                  0.057668
Registration/plates    0.038461
Seat belt              0.036839
Name: violation, dtype: float64

In [16]:
ri[ri.driver_gender == 'F'].violation.value_counts(normalize = True)

Speeding               0.658500
Moving violation       0.136277
Equipment              0.105780
Registration/plates    0.043086
Other                  0.029348
Seat belt              0.027009
Name: violation, dtype: float64

In [17]:
ri.groupby('driver_gender').violation.value_counts(normalize = True)

driver_gender  violation
F              Speeding               0.658500
               Moving violation       0.136277
               Equipment              0.105780
               Registration/plates    0.043086
               Other                  0.029348
               Seat belt              0.027009
M              Speeding               0.524350
               Moving violation       0.207012
               Equipment              0.135671
               Other                  0.057668
               Registration/plates    0.038461
               Seat belt              0.036839
Name: violation, dtype: float64

In [18]:
ri.groupby('violation').driver_gender.value_counts(normalize = True)

violation            driver_gender
Equipment            M                0.774319
                     F                0.225681
Moving violation     M                0.802515
                     F                0.197485
Other                M                0.840167
                     F                0.159833
Registration/plates  M                0.704837
                     F                0.295163
Seat belt            M                0.784892
                     F                0.215108
Speeding             M                0.680527
                     F                0.319473
Name: driver_gender, dtype: float64

In [19]:
ri.groupby('driver_gender').violation.value_counts(normalize = True).loc[:,'Speeding']

driver_gender
F    0.65850
M    0.52435
Name: violation, dtype: float64

In [20]:
# Does gender affect who gets searched during a stop?

In [21]:
ri.groupby('driver_gender').search_conducted.value_counts(normalize = True)

driver_gender  search_conducted
F              False               0.979967
               True                0.020033
M              False               0.956674
               True                0.043326
Name: search_conducted, dtype: float64

In [22]:
ri[ri.search_conducted == True].driver_gender.value_counts()

M    2725
F     471
Name: driver_gender, dtype: int64

In [23]:
ri.search_conducted.value_counts(normalize = True)

False    0.965163
True     0.034837
Name: search_conducted, dtype: float64

In [24]:
ri.search_conducted.mean()
#gives same as above since the value of True and False is 0 and 1 numerically

0.03483720473942948

In [25]:
ri.groupby('driver_gender').search_conducted.mean()

driver_gender
F    0.020033
M    0.043326
Name: search_conducted, dtype: float64

In [26]:
ri.groupby(['violation','driver_gender']).search_conducted.mean()

violation            driver_gender
Equipment            F                0.042622
                     M                0.070081
Moving violation     F                0.036205
                     M                0.059831
Other                F                0.056522
                     M                0.047146
Registration/plates  F                0.066140
                     M                0.110376
Seat belt            F                0.012598
                     M                0.037980
Speeding             F                0.008720
                     M                0.024925
Name: search_conducted, dtype: float64

In [27]:
# mean of M is greater in every type of violation except the other, 
# but this does not show causation between gender and chance of search conduct

### Lessons

# Causation is difficult to conclude, so focus on relationships
# Include all relevant factors when studying a relationship

In [28]:
# You can create a pivot table along dimensions by writing the dimensions in the groupby attributes, order is respective
# df.roupby(['dim1','dim2',...,'dimN').metric.(aggregate function)
ri.groupby(['driver_gender','violation','is_arrested']).search_conducted.sum()

driver_gender  violation            is_arrested
F              Equipment            False           66.0
                                    True            40.0
               Moving violation     False           68.0
                                    True            48.0
               Other                False           20.0
                                    True            19.0
               Registration/plates  False           42.0
                                    True            25.0
               Seat belt            False            8.0
                                    True             0.0
               Speeding             False          101.0
                                    True            34.0
M              Equipment            False          419.0
                                    True           179.0
               Moving violation     False          481.0
                                    True           298.0
               Other                False           76.0
                                    True            95.0
               Registration/plates  False          178.0
                                    True            89.0
               Seat belt            False           75.0
                                    True            13.0
               Speeding             False          569.0
                                    True           253.0
Name: search_conducted, dtype: float64

In [29]:
# Below is the reverse of above based on the order of the array list in the groupby function 
# Using other aggregate function(sum) in the pivot
# this is giving the number of violations, where violation is true, grouped by gender
ri.groupby(['driver_gender','violation']).search_conducted.sum()

driver_gender  violation
F              Equipment              106.0
               Moving violation       116.0
               Other                   39.0
               Registration/plates     67.0
               Seat belt                8.0
               Speeding               135.0
M              Equipment              598.0
               Moving violation       779.0
               Other                  171.0
               Registration/plates    267.0
               Seat belt               88.0
               Speeding               822.0
Name: search_conducted, dtype: float64

In [30]:
# this is giving the number of violations where violation is true or false,regardless. 
ri.groupby(['driver_gender','violation']).search_conducted.count()

driver_gender  violation
F              Equipment               2487
               Moving violation        3204
               Other                    690
               Registration/plates     1013
               Seat belt                635
               Speeding               15482
M              Equipment               8533
               Moving violation       13020
               Other                   3627
               Registration/plates     2419
               Seat belt               2317
               Speeding               32979
Name: search_conducted, dtype: int64

In [ ]:
# Why is search type missing so often?
# Since search conducted needs to be true for a search type to have a value, we will look into the relationship

In [32]:
ri.search_conducted.value_counts()

False    88545
True      3196
Name: search_conducted, dtype: int64

In [33]:
ri.search_type.value_counts

Incident to Arrest                                          1219
Probable Cause                                               891
Inventory                                                    220
Reasonable Suspicion                                         197
Protective Frisk                                             161
Incident to Arrest,Inventory                                 129
Incident to Arrest,Probable Cause                            106
Probable Cause,Reasonable Suspicion                           75
Incident to Arrest,Inventory,Probable Cause                   34
Probable Cause,Protective Frisk                               33
Incident to Arrest,Protective Frisk                           33
Inventory,Probable Cause                                      22
Incident to Arrest,Reasonable Suspicion                       13
Inventory,Protective Frisk                                    11
Incident to Arrest,Inventory,Protective Frisk                 11
Protective Frisk,Reasonable Suspicion                         11
Incident to Arrest,Probable Cause,Protective Frisk            10
Incident to Arrest,Probable Cause,Reasonable Suspicion         6
Inventory,Reasonable Suspicion                                 4
Incident to Arrest,Inventory,Reasonable Suspicion              4
Inventory,Probable Cause,Reasonable Suspicion                  2
Inventory,Probable Cause,Protective Frisk                      2
Probable Cause,Protective Frisk,Reasonable Suspicion           1
Incident to Arrest,Protective Frisk,Reasonable Suspicion       1
Name: search_type, dtype: int64

In [34]:
# The above is giving just the types where search conducted is true.
# We can see the thing in 2 ways

In [36]:
ri[ri.search_conducted == False].search_type.value_counts()

Series([], Name: search_type, dtype: int64)

In [37]:
# Hence it is not giving any data since all the value is null.
# By default null values are dropped by Pandas

In [38]:
ri[ri.search_conducted == False].search_type.value_counts(dropna=False)

NaN    88545
Name: search_type, dtype: int64

In [59]:
# Now we can see the null values as well with dropna = False.
# We have also proved that all the null values in search type are the ones where search conducted is False.

### Lessons

# Verify the assumtions about the data (relationships in this case)
# Pandas functions ignore missing values by default

In [40]:
# During a search, how often is the driver frisked?

In [43]:
# Lets look at the search_types to see if there are frisks
ri.search_type.value_counts()

Incident to Arrest                                          1219
Probable Cause                                               891
Inventory                                                    220
Reasonable Suspicion                                         197
Protective Frisk                                             161
Incident to Arrest,Inventory                                 129
Incident to Arrest,Probable Cause                            106
Probable Cause,Reasonable Suspicion                           75
Incident to Arrest,Inventory,Probable Cause                   34
Probable Cause,Protective Frisk                               33
Incident to Arrest,Protective Frisk                           33
Inventory,Probable Cause                                      22
Incident to Arrest,Reasonable Suspicion                       13
Inventory,Protective Frisk                                    11
Incident to Arrest,Inventory,Protective Frisk                 11
Protective Frisk,Reasonable Suspicion                         11
Incident to Arrest,Probable Cause,Protective Frisk            10
Incident to Arrest,Probable Cause,Reasonable Suspicion         6
Inventory,Reasonable Suspicion                                 4
Incident to Arrest,Inventory,Reasonable Suspicion              4
Inventory,Probable Cause,Reasonable Suspicion                  2
Inventory,Probable Cause,Protective Frisk                      2
Probable Cause,Protective Frisk,Reasonable Suspicion           1
Incident to Arrest,Protective Frisk,Reasonable Suspicion       1
Name: search_type, dtype: int64

In [44]:
# We can see in many instances that there is Protective Frisk but they come with other search types as well
# So we have to extract the search types which contains Frisk

In [45]:
ri.search_type.str.contains('Frisk')

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24       True
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
         ...
91711     NaN
91712     NaN
91713     NaN
91714     NaN
91715     NaN
91716     NaN
91717     NaN
91718     NaN
91719     NaN
91720     NaN
91721     NaN
91722     NaN
91723     NaN
91724     NaN
91725     NaN
91726     NaN
91727     NaN
91728     NaN
91729     NaN
91730     NaN
91731     NaN
91732     NaN
91733     NaN
91734     NaN
91735     NaN
91736     NaN
91737     NaN
91738     NaN
91739     NaN
91740     NaN
Name: search_type, Length: 91741, dtype: object

In [47]:
# the str.contains functions gives null values as well
# So we will create a column for frisks

In [49]:
ri['frisk'] = ri.search_type.str.contains('Frisk')

In [50]:
# we can use df['colum name'] to create a new column in the df like in R.

In [53]:
ri.frisk.value_counts(dropna = False)
# notice the dropna condition

NaN      88545
False     2922
True       274
Name: frisk, dtype: int64

In [55]:
ri.frisk.mean()

0.08573216520650813

In [56]:
274/(274+2922)

0.08573216520650813

In [60]:
# notice that the mean formula in pandas is also, by default, ignoring na values
# We can infer that the possibility of frisk is 8.5% of the time a search is conducted

### Lessons

# Use string methods to find partial matches
# Use the correct denominator while calculating rates
#Apply the 'smell test' to your result - ask if it seems about right