In [1]:
from scipy import stats as sps
from scipy.stats import t

In [2]:
import scipy

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [11]:
data = pd.read_excel(r"C:\Users\adishree.b\Downloads\mpgcars.xlsx")

In [12]:
# T-test has 2 typesÂ : 1. one sampled t-test 2. two-sampled t-test.
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [21]:
data.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [22]:
data.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
count,398.000000,406.000000,406.000000,400.000000,406.000000,406.000000,406.000000,406.000000
mean,23.514573,5.475369,194.779557,105.082500,2979.413793,15.519704,75.921182,1.568966
std,7.815984,1.712160,104.922458,38.768779,847.004328,2.803359,3.748737,0.797479
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,105.000000,75.750000,2226.500000,13.700000,73.000000,1.000000
50%,23.000000,4.000000,151.000000,95.000000,2822.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,302.000000,130.000000,3618.250000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [16]:
lf = data.describe()

In [34]:
contingency = pd.crosstab(index=data['cylinders'], columns = data['model year '])

In [35]:
contingency

model year   70  71  72  73  74  75  76  77  78  79  80  81  82
cylinders
3             0   0   1   1   0   0   0   1   0   0   1   0   0
4             8  14  14  11  15  12  15  14  17  12  25  22  28
5             0   0   0   0   0   0   0   0   1   1   1   0   0
6             4   8   0   8   7  12  10   5  12   6   2   7   3
8            23   7  13  20   5   6   9   8   6  10   0   1   0

In [36]:
lf.to_csv(r"C:\Users\adishree.b\Desktop\descriptive.csv")

In [37]:
sps.chi2_contingency(contingency, correction=False)

(130.60528599849778,
 1.4246528915153497e-09,
 48,
 array([[ 0.34482759,  0.28571429,  0.27586207,  0.39408867,  0.26600985,
          0.2955665 ,  0.33497537,  0.27586207,  0.3546798 ,  0.28571429,
          0.28571429,  0.2955665 ,  0.30541872],
        [17.84482759, 14.78571429, 14.27586207, 20.39408867, 13.76600985,
         15.2955665 , 17.33497537, 14.27586207, 18.3546798 , 14.78571429,
         14.78571429, 15.2955665 , 15.80541872],
        [ 0.25862069,  0.21428571,  0.20689655,  0.2955665 ,  0.19950739,
          0.22167488,  0.25123153,  0.20689655,  0.26600985,  0.21428571,
          0.21428571,  0.22167488,  0.22906404],
        [ 7.24137931,  6.        ,  5.79310345,  8.27586207,  5.5862069 ,
          6.20689655,  7.03448276,  5.79310345,  7.44827586,  6.        ,
          6.        ,  6.20689655,  6.4137931 ],
        [ 9.31034483,  7.71428571,  7.44827586, 10.64039409,  7.18226601,
          7.98029557,  9.04433498,  7.44827586,  9.57635468,  7.71428571,
          7.71428571,  7.98029557,  8.24630542]]))

In [39]:
sps.chi2_contingency(contingency, correction=True)

(130.60528599849778,
 1.4246528915153497e-09,
 48,
 array([[ 0.34482759,  0.28571429,  0.27586207,  0.39408867,  0.26600985,
          0.2955665 ,  0.33497537,  0.27586207,  0.3546798 ,  0.28571429,
          0.28571429,  0.2955665 ,  0.30541872],
        [17.84482759, 14.78571429, 14.27586207, 20.39408867, 13.76600985,
         15.2955665 , 17.33497537, 14.27586207, 18.3546798 , 14.78571429,
         14.78571429, 15.2955665 , 15.80541872],
        [ 0.25862069,  0.21428571,  0.20689655,  0.2955665 ,  0.19950739,
          0.22167488,  0.25123153,  0.20689655,  0.26600985,  0.21428571,
          0.21428571,  0.22167488,  0.22906404],
        [ 7.24137931,  6.        ,  5.79310345,  8.27586207,  5.5862069 ,
          6.20689655,  7.03448276,  5.79310345,  7.44827586,  6.        ,
          6.        ,  6.20689655,  6.4137931 ],
        [ 9.31034483,  7.71428571,  7.44827586, 10.64039409,  7.18226601,
          7.98029557,  9.04433498,  7.44827586,  9.57635468,  7.71428571,
          7.71428571,  7.98029557,  8.24630542]]))

In [40]:
ci

(16.814840577664512, 27.163559422335474)