In [1]:
import pandas as pd
import numpy as np

In [2]:
dogs = pd.read_csv(r"C:\Users\adishree.b\Documents\ds\Mod 2 ass part 1\dogs.csv")

In [4]:
dogs.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None

# 1)	Solve the third issue, edit the timestamp so it has a proper form also change its type (Issue 3,12)

# Issue - 3.	(+0000) in the timestamp
# Issue - 12.	timestamp data type should be datetime

In [ ]:
# Let's look at the column 'timestamp'

In [67]:
print("the datatype of the timestamp column is: ", dogs['timestamp'].dtype)
print("the first 2 columns of the timestamp column:\n", dogs['timestamp'].head(2))

the datatype of the timestamp column is:  object
the first 2 columns of the timestamp column:
 0    2017-08-01 16:23:56 +0000
1    2017-08-01 00:17:27 +0000
Name: timestamp, dtype: object

In [ ]:
# We can see that the datatype of the column 'timestamp' is object and the characters +0000 are present in the end.

In [68]:
# creating another column 'datetime' which is 
dogs['datetime'] = pd.to_datetime(dogs['timestamp'])

In [69]:
print("The datatype of the datetime column is: ", dogs['datetime'].dtype)
print("The first 2 columns of the datetime column:\n", dogs['datetime'].head(2))

the datatype of the datetime column is:  datetime64[ns]
the first 2 columns of the datetime column:
 0   2017-08-01 16:23:56
1   2017-08-01 00:17:27
Name: datetime, dtype: datetime64[ns]

In [70]:
#Now, we can see that the datatype of the datetime column has been changed to datetime64[ns] and the trailing +0000 is removed.

# 2)	Extract the only needed text from source column (Issue 4)
# Issue - 4.	source column has many unneeded text like link to download the platform, we only need the source like (iPhone)

In [72]:
# checking the different values in the 'source' column and their counts.   

dogs['source'].value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [ ]:
# We can see that there are 4 different values in the column, which can be categorized into: 
# Iphone, Vine, WebClient, and TweetDeck

# Also, the pattern of the text in the column is <a link>source</a>
# We can use regular expressions to extract all the characters between the ">" and "</a>" into a new column 'sources'.

dogs['sources'] = dogs['source'].str.extract('>(.*)</a>')

In [36]:
# let's look at the resulting values:

dogs['sources'].value_counts()

Twitter for iPhone     2221
Vine - Make a Scene      91
Twitter Web Client       33
TweetDeck                11
Name: sources, dtype: int64

In [40]:
# We can see that the values in the sources column has only the sources and not the links.
# We can go ahead and replace the full name of the source with a word (as mentioned in the question referencing 'iPhone')

dogs['sources'] = dogs['sources'].str.replace('Twitter for iPhone','iPhone')
dogs['sources'] = dogs['sources'].str.replace('Vine - Make a Scene','Vine')
dogs['sources'] = dogs['sources'].str.replace('Twitter Web Client','WebClient')

In [41]:
# The final outcome would be:

dogs['sources'].value_counts()

iPhone       2221
Vine           91
WebClient      33
TweetDeck      11
Name: sources, dtype: int64

# 3)	Solve Issue 5
# Issue - 5.	retweeted user_id and retweeted status_id types are inconvenient (float64, should be int64 or strings) and are not needed as our concern are the main tweets

In [51]:
dogs.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo',
       'sources'],
      dtype='object')

In [53]:
# Since the 2 questioned columns are not needed, we can simply remove them.

dogs.drop(columns = ['retweeted_status_id','retweeted_status_user_id'],inplace=True)

In [54]:
# Now the 2 columns have been removed as you can see below:
dogs.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_timestamp', 'expanded_urls',
       'rating_numerator', 'rating_denominator', 'name', 'doggo', 'floofer',
       'pupper', 'puppo', 'sources'],
      dtype='object')

# 4) Change the reply columns type (Issue 6)
# Issue - 6.	in_reply_to_status_id and in_reply_to_user_id types are inconvenient (float64, should be int64 or strings)

In [44]:
dogs[['in_reply_to_status_id','in_reply_to_user_id']].dtypes

in_reply_to_status_id    float64
in_reply_to_user_id      float64
dtype: object

In [46]:
# The datatype of the 2 questioned columns are float64.
# Befor converting them into int, we have to check if there are NaN values, 
# since NaN values are float types and can't be converted into int types.

dogs[['in_reply_to_status_id','in_reply_to_user_id']].isnull().sum()

in_reply_to_status_id    2278
in_reply_to_user_id      2278
dtype: int64

In [48]:
# We have NaN values in the columns, hence, we have to relace the na values with anoother int value. Let's use 0.
dogs1 = dogs
dogs1[['in_reply_to_status_id','in_reply_to_user_id']] = dogs[['in_reply_to_status_id','in_reply_to_user_id']].fillna(0).astype(int)

In [49]:
# Now, we have changed the 2 columns to integer types.
dogs1[['in_reply_to_status_id','in_reply_to_user_id']].dtypes

in_reply_to_status_id    int32
in_reply_to_user_id      int32
dtype: object

# 5)	Edit the greater than sign in some indices, so find those indices, edit them (Issue 9)
# Issue - 9.	at some indices, the tweet has (>) sign, and in the text it is converted to ('&gt ;')

In [79]:
# Finding the indices that contain &gt in the tweet.
dogs[dogs['text'].str.contains("&gt")]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,sources
113,870726314365509632,-2147483648,16487760,2017-06-02 19:38:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is res...,NaN,NaN,10,10,None,None,None,None,None,iPhone
274,840698636975636481,-2147483648,-2147483648,2017-03-11 22:59:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@0_kelvin_0 &gt;10/10 is reserved for puppos s...,NaN,NaN,10,10,None,None,None,None,None,iPhone

In [80]:
# Replacing the '&gt;' with '>' in the text (at the indices 113 and 274)

dogs['text'] = dogs['text'].str.replace('&gt;','>')

In [85]:
# lets look at the 2 rows where txt had ''&gt'. Now they have been changed to '>' as we can see below.

dogs['text'][[113,274]]

113    @ComplicitOwl @ShopWeRateDogs >10/10 is reserv...
274    @0_kelvin_0 >10/10 is reserved for puppos sorr...
Name: text, dtype: object