In [42]:
import pandas as pd

df = pd.read_csv(r"C:\Users\adishree.b\Documents\part one.csv")

In [43]:
df.head(2)

    User ID Gender  Age  EstimatedSalary  Purchased
0  15624510   Male   19            19000          0
1  15810944   Male   35            20000          0

In [47]:
df.describe(include = 'object')

        Gender
count      400
unique       2
top     Female
freq       204

In [48]:
# Categorical boolean mask
categorical_feature_mask = df.dtypes==object
# filter categorical columns using mask and turn it into a list
categorical_cols = df.columns[categorical_feature_mask].tolist()

In [49]:
df2 = df

In [50]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# apply le on categorical feature columns
df2[categorical_cols] = df[categorical_cols].apply(lambda col: le.fit_transform(col))
df2.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0
5  15728773       1   27            58000          0
6  15598044       0   27            84000          0
7  15694829       0   32           150000          1
8  15600575       1   25            33000          0
9  15727311       0   35            65000          0

In [51]:
# First lets create the predictor variables (X) and target variable (y) by separating the dataset into 2: 

X = df2.drop(columns = ['Purchased'])
y = df2['Purchased']

print(X.shape)
print(y.shape)

(400, 4)
(400,)

In [52]:
# Let's split the data into train and test dataset in (75:25) ratio:

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25,random_state = 1)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(300, 4)
(300,)
(100, 4)
(100,)

In [54]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
classifier = clf.fit(X_train, y_train)

## 1.	Check the accuracy of the model

# 2.	What is the % of Type II error?

In [58]:
lassifier = clf.predict(X_test)

In [60]:
lassifier

array([0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0], dtype=int64)

In [61]:
from sklearn.metrics import accuracy_score

In [62]:
accuracy_score(y_test,lassifier)

0.83

## 2. What is the % of Type II error?

In [64]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,lassifier)

array([[48, 10],
       [ 7, 35]], dtype=int64)

In [67]:
tn, fp, fn, tp = confusion_matrix(y_test,lassifier).ravel()

In [68]:
tn, fp, fn, tp

(48, 10, 7, 35)

In [71]:
type2 = fp/(fp+tp)
type2

0.2222222222222222

## 3.	Calculate Cross-Entropy for the built model and interpret the same

In [69]:
from sklearn.metrics import log_loss
log_loss(y_test,lassifier)

5.871671946877837

## 4.	Calculate Gini Index for the built model and interpret the same

## 5.	Create a plot that shows the decision tree on training set and test set

In [73]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus

In [79]:
dot_data = StringIO()
export_graphviz(clf, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True,feature_names = X.columns,class_names=['0','1'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png('diabetes.png')
Image(graph.create_png())

InvocationException: GraphViz's executables not found